aside#projects {
  float: left;
  width: 20vw;
  max-height: 85vh;
  overflow-y: auto;
  background: #ffffff;
  transition: opacity .1s;
  opacity: 0;
  overflow-wrap: break-word;
}

aside#projects h1 {
  margin: 0;
  font-family: 'Crete Round', serif;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 400;
  color: #ff3800;
}

aside#projects h2 {
  font-weight: 700;
  font-size: .9rem;
  margin: 1rem 0 .4rem 0;
}

aside#projects p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}
